@font-face {
    font-family: "IBM Plex Mono";
    font-style: normal;
    src: url("IBMPlexMono-Regular.ttf");
}

@font-face {
    font-family: "IBM Plex Mono";
    font-style: italic;
    src: url("IBMPlexMono-Italic.ttf");
}

@font-face {
    font-family: "IBM Plex Sans";
    font-style: normal;
    src: url("IBMPlexSans-Medium.woff2");
}
