@font-face {
    font-family: "JetBrains Mono";
    src: url("jetbrains-mono-latin-400-normal.woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    font-weight: 700;
    src: url("jetbrains-mono-latin-700-normal.woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    font-style: italic;
    src: url("jetbrains-mono-latin-400-italic.woff2");
}
