* {
    box-sizing: border-box;
}

:root {
    --bg-color: white;
    --text-color: black;
    --subtext-color: oklch(55.2% 0.016 285.938);
    --font-sans: 
        -apple-system,
        BlinkMacSystemFont,
        avenir next,
        avenir,
        segoe ui,
        helvetica neue,
        Adwaita Sans,
        Cantarell,
        Ubuntu,
        roboto,
        noto,
        helvetica,
        arial,
        sans-serif;
    --font-mono:
        Menlo,
        Consolas,
        Monaco,
        Liberation Mono,
        Lucida Console,
        monospace;
}

body {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        avenir next,
        avenir,
        segoe ui,
        helvetica neue,
        Adwaita Sans,
        Cantarell,
        Ubuntu,
        roboto,
        noto,
        helvetica,
        arial,
        sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container {
    max-width: 42rem;
    margin: 0 auto;
    padding: 2rem;
}

code {
    font-family:
        Menlo,
        Consolas,
        Monaco,
        Liberation Mono,
        Lucida Console,
        monospace;
    font-size: 0.875rem;
}

header {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

header 

nav a {
    text-decoration: none;
}

.social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a {
    text-decoration: none;
}

.subtext {
    font-size: 1rem;
    color: var(--subtext-color);
}

.posts-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

time {
    font-size: 0.875rem;
    color: var(--subtext-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: -0.015em;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

p {
    margin-top: 0;
    margin-bottom: 2rem;
}

pre {
    padding: 1rem;
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    overflow-x: auto;
}

p > code {
    background-color: lightgray;
    color: black;
    padding: 0.175rem 0.25rem;
    border-radius: 5px;
}

a {
    color: var(--text-color);
    font-weight: 500;
    text-underline-offset: 0.175em;
    text-decoration-thickness: 0.075em;
}

blockquote {
    margin: 0;
    border-left: solid;
    border-color: #89dceb;
    border-width: 2px;
}

blockquote p {
    padding-left: 1rem;
}

img {
    max-width: 100%;
}

.blog-posts {
    list-style: none;
    padding-left: 0;
    margin-bottom: 2rem;
}

.blog-post {
    margin-bottom: 2.5rem;
}

.pfp {
    max-width: 72px;
    height: auto;
    border-radius: 9999px;
}
