{% extends "base.html" %} {% block content %}
<h1>About Me</h1>
<p>
    Hi I’m Jack, a freelance technical content writer from the UK, (mostly)
    focused on emerging technology. My clients include/have included startups
    like <a href="https://layer3.xyz">layer3</a> and
    <a href="https://turnkey.com">turnkey</a>.
</p>
<p>
    Most of my work has been focused on technical content as well as developer
    advocacy, web development, and a small amount of fiction writing.
</p>
<p>
    I'm a curious and exceptionally fast learner, and I'm currently seeking
    positions where I can do meaningful work, and learn and improve at my craft
    改善 (<a href="https://wikipedia.org/wiki/Kaizen">kaizen</a>).
</p>
<h1>Contact</h1>
<p>
    If you want to work with me or just say hi, feel free to reach out via email
    at jacksmithxyz[at]protonmail[dot]com.
</p>
{% endblock content %}
