{% extends "base.html" %} {% block content %}
<h1>about me</h1>
<p>
    Hi I’m Jack, a freelance technical content writer from the UK, (mostly)
    focused on emerging technology. My previous/current clients include
    hyper-growth startups like
    <a href="https://layer3.xyz">layer3</a> and
    <a href="https://turnkey.com">turnkey</a>.
</p>
<p>
    I like programming for fun, mainly focused on automation or solving problems
    with CLI/TUI applications. I also tend to get nerd-sniped by esoteric and
    nascent languages and tools.
</p>
<h1>contact</h1>
<p>
    If you want to work with me or just say hi, feel free to reach out via email
    at jacksmithxyz[at]protonmail[dot]com.
</p>
<h1>misc</h1>
<div class="parent-grid">
    <img class="pfp" src="pfp.jpg" />
    <img class="pfp" src="pfp.jpg" />
    <img class="pfp" src="pfp.jpg" />
    <img class="pfp" src="pfp.jpg" />
</div>
{% endblock content %}
