<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>jacksmith.xyz</title>
        <link rel="stylesheet" href="/style.css" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    </head>

    <body>
        <header>
                <nav>
                    <div class="logo">
                        <h1><a href="/">jacksmith.xyz</a></h1>
                    </div>
                    <ul class="nav-links">
                        <li><a href="/blog">Posts</a></li>
                        <li><a href="/about">About Me</a></li>
                    </ul>
                </nav>
        </header>
        <main>{% block content %} {% endblock %}</main>
        <footer>
            <div class="footer-section">
				<h3>Socials</h3>
				<ul class="social-links">
					<li><a href="https://x.com/jacksmithxyz_" target="_blank" rel="noopener noreferrer">X ↗</a></li>
                	<li><a href="https://github.com/jacksmithxyz" target="_blank" rel="noopener noreferrer">GitHub ↗</a></li>
                	<li><a href="https://youtube.com/@jacksmithxyz" target="_blank" rel="noopener noreferrer">YouTube ↗</a></li>
					<li><a href="https://buymeacoffee.com/jacksmithxyz" target="_blank" rel="noopener noreferrer">Buy Me a Coffee ☕️ ↗</a></li>
				</ul>
            </div>
            <div class="footer-section">
				<p>&copy; 2024 Jack Smith. <p>
                <p>Powered by <a href="https://www.getzola.org/">Zola</a></p>
            </div>
        </footer>
    </body>
</html>
