{% extends "base.html" %} {% block content %}
<div class="hero">
  <img class="pfp" src="pfp.jpg" />
  <h2>Jack Smith</h2>
  <p class="subtext">Freelance Technical Content Writer and Developer</p>
</div>
<h2>About Me</h2>
<div>
  <p>
    Hi, I’m Jack. I’ve spent the last few years working with crypto startups
    creating technical content, wrangling data, and rendering <code>JSON</code>.
    My guiding principle is
    <a href="https://wikipedia.org/wiki/Kaizen">kaizen</a> 改善.
  </p>
</div>
<div>
  <h2>Current Focus</h2>
  <p>
    I'm currently focusing on improving my Python skills, learning about AI/ML,
    and exploring other interesting topics like Haskell/functional programming,
    compilers, and developer tooling.
  </p>
</div>
<div>
  <h2>My Writing</h2>
  <p>
    I enjoy writing (and teaching) what I've learnt in the realm of the internet
    and computers. I share all sorts of tutorials and technical posts here on my
    <a href="/blog">blog</a>, and more of a personal learning journey on my
    <a
      href="https://afterhoursresearch.substack.com/welcome"
      target="_blank"
      rel="noopener noreferrer"
      >newsletter</a
    >.
  </p>
</div>
{% endblock content %}
