{% extends "base.html" %} {% block content %}
<div>
    <h2>brief</h2>
    <p>freelance technical content writer by day. programming for fun.</p>
    <p>interested in open source, linux, etc.</p>
</div>
<div>
    <h1>projects</h1>
    <p>
        <a href="https://how2neovim.io">how2neovim.io</a> - an educational
        website on neovim
    </p>
</div>
<div>
    <h2>recent posts 📝</h2>
    {% set blog_section = get_section(path="blog/_index.md") %}
    <ul class="blog-posts">
        {% for page in blog_section.pages | slice(end=5) %}
        <li class="blog-post">
            <p><a href="{{ page.permalink | safe }}">{{ page.title }}</a></p>
        </li>
        {% endfor %}
    </ul>
    <p></p>
</div>
{% endblock content %}
