{% extends "base.html" %} {% block content %}
<div class="hero">
    <img class="pfp" src="pfp.webp" alt="picture of me." />
    <h1>jacksmith.xyz</h1>
    <p>exploring systems • building tools • learning</p>
</div>

<div class="about">
    <h3>About me</h3>
    <p>
        Hi, I'm Jack. I like to explore complex systems and blockchain
        infrastructure, and help others understand them better - through
        tutorials, tools, and technical content.
    </p>
    <p>
        I've spent the last few years working with startups on developer-focused
        blockchain education, and building web applications. Currently I'm
        interested in crypto and developer tooling, although I'm learning more
        about systems, game development, and graphics programming (primarily
        with
        <strong>Zig</strong>).
    </p>
    <p>
        My guiding principle is
        <a href="https://wikipedia.org/wiki/Kaizen">kaizen</a> 改善.
    </p>
</div>

<div>
    <div class="posts-header">
        <h3>Recent posts</h3>
        <a href="/blog">View All →</a>
    </div>
    <ul class="blog-posts">
        {% set blog_section = get_section(path="blog/_index.md") %} {% for post
        in blog_section.pages | slice(end=3) %}
        <li class="blog-post">
            <div class="post-preview">
                <div>
                    <h3><a href="{{ post.permalink }}">{{ post.title }}</a></h3>
                    <time>{{ post.date | date(format="%B %d, %Y") }}</time>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}
